<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <activity
            android:name=".TaraTara.TaraTaraVremOstasi"
            android:exported="false" />
        <activity
            android:name=".RomApp.TuristiActivity"
            android:exported="false" />
        <activity
            android:name=".RomApp.PiatraNeamt"
            android:exported="false" />
        <activity
            android:name=".RomApp.Bacau"
            android:exported="false" />
        <activity
            android:name=".RomApp.Iasi"
            android:exported="false" />
        <activity
            android:name=".RomApp.AlbaIulia"
            android:exported="false" />
        <activity
            android:name=".RomApp.TarguMures"
            android:exported="false" />
        <activity
            android:name=".RomApp.Sibiu"
            android:exported="false" />
        <activity
            android:name=".RomApp.Brasov"
            android:exported="false" />
        <activity
            android:name=".RomApp.ClujNapoca"
            android:exported="false" />
        <activity
            android:name=".RomApp.Cernavoda"
            android:exported="false" />
        <activity
            android:name=".RomApp.Tulcea"
            android:exported="false" />
        <activity
            android:name=".RomApp.Constanta"
            android:exported="false" />
        <activity
            android:name=".RomApp.Valcea"
            android:exported="false" />
        <activity
            android:name=".RomApp.Slatina"
            android:exported="false" />
        <activity
            android:name=".RomApp.Bucovina"
            android:exported="false" />
        <activity
            android:name=".RomApp.Maramures"
            android:exported="false" />
        <activity
            android:name=".RomApp.Crisana"
            android:exported="false" />
        <activity
            android:name=".RomApp.Banat"
            android:exported="false" />
        <activity
            android:name=".RomApp.Muntenia"
            android:exported="false" />
        <activity
            android:name=".RomApp.Moldova"
            android:exported="false" />
        <activity
            android:name=".RomApp.Dobrogea"
            android:exported="false" />
        <activity
            android:name=".dobrogeausage.CasinoStoryActivity"
            android:exported="true" />
        <activity
            android:name=".RomApp.AppShowcaseActivity"
            android:label="Prezentare Aplicație"
            android:exported="true" />
        <activity
            android:name=".RomApp.Transilvania"
            android:exported="false" />
        <activity
            android:name=".RomApp.Craiova"
            android:exported="false" />

        <activity
            android:name=".RomApp.UserActivity"
            android:exported="false" />
        <activity
            android:name=".RomApp.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Joc1.RomSplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RomApp.Oltenia"
            android:exported="false" />

        <activity
            android:name=".RomApp.MainActivity"
            android:exported="false" />

        <activity
            android:name=".Joc1.RomMainActivity"
            android:exported="false" />

        <activity
            android:name=".Joc1.RomMapActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name=".Joc1.RomCityActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name=".Joc1.RomQuizActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name=".Joc1.RomQuestActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name=".Joc1.RomCulinaryActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name=".Joc1.RomAchievementsActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name=".Joc1.MinigameOpenWorldActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".RomApp.TarguJiu"
            android:exported="false" />

        <activity
            android:name=".RomApp.Drobetaturnuseverin"
            android:exported="false" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBsoY5hE-eR586h6sn1TOj_J21_Y1I2mKY" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
