<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".RomApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".RomApp.Sapanta"
            android:exported="false" />
        <activity
            android:name=".RomApp.Viseu"
            android:exported="false" />
        <activity
            android:name=".RomApp.Borsa"
            android:exported="false" />
        <activity
            android:name=".RomApp.Sighetu"
            android:exported="false" />
        <activity
            android:name=".RomApp.BaiaMare"
            android:exported="false" />
        <activity
            android:name=".RomApp.Buzau"
            android:exported="false" />
        <activity
            android:name=".RomApp.Pitesti"
            android:exported="false" />
        <activity
            android:name=".RomApp.Targoviste"
            android:exported="false" />
        <activity
            android:name=".RomApp.Ploiesti"
            android:exported="false" />
        <activity
            android:name=".RomApp.Bucuresti"
            android:exported="false" />
        <activity
            android:name=".RomApp.VatraDornei"
            android:exported="false" />
        <activity
            android:name=".RomApp.CampulLung"
            android:exported="false" />
        <activity
            android:name=".RomApp.Radauti"
            android:exported="false" />
        <activity
            android:name=".RomApp.GuraHumorului"
            android:exported="false" />
        <activity
            android:name=".RomApp.Oradea"
            android:exported="false" />
        <activity
            android:name=".RomApp.Arad"
            android:exported="false" />
        <activity
            android:name=".RomApp.Lugoj"
            android:exported="false" />
        <activity
            android:name=".RomApp.Timisoara"
            android:exported="false" />
        <activity
            android:name=".RomApp.Resita"
            android:exported="false" />
        <activity
            android:name=".RomApp.BaileHerculane"
            android:exported="false" />
        <activity
            android:name=".RomApp.Caransebes"
            android:exported="false" />
        <activity
            android:name=".RomApp.Suceava"
            android:exported="false" />
        <activity
            android:name=".TaraTara.TaraTaraVremOstasi"
            android:exported="false" />
        <activity
            android:name=".RomApp.TuristiActivity"
            android:exported="false" />
        <activity
            android:name=".RomApp.PiatraNeamt"
            android:exported="false" />
        <activity
            android:name=".RomApp.Bacau"
            android:exported="false" />
        <activity
            android:name=".RomApp.Iasi"
            android:exported="false" />
        <activity
            android:name=".RomApp.AlbaIulia"
            android:exported="false" />
        <activity
            android:name=".RomApp.TarguMures"
            android:exported="false" />
        <activity
            android:name=".RomApp.Sibiu"
            android:exported="false" />
        <activity
            android:name=".RomApp.Brasov"
            android:exported="false" />
        <activity
            android:name=".RomApp.ClujNapoca"
            android:exported="false" />
        <activity
            android:name=".RomApp.Cernavoda"
            android:exported="false" />
        <activity
            android:name=".RomApp.Tulcea"
            android:exported="false" />
        <activity
            android:name=".RomApp.Constanta"
            android:exported="false" />
        <activity
            android:name=".viewmodel.CityFeaturesActivity"
            android:exported="false" />
        <activity
            android:name=".RomApp.Valcea"
            android:exported="false" />
        <activity
            android:name=".RomApp.Slatina"
            android:exported="false" />
        <activity
            android:name=".RomApp.Bucovina"
            android:exported="false" />
        <activity
            android:name=".RomApp.Maramures"
            android:exported="false" />
        <activity
            android:name=".RomApp.Crisana"
            android:exported="false" />
        <activity
            android:name=".RomApp.Banat"
            android:exported="false" />
        <activity
            android:name=".RomApp.Muntenia"
            android:exported="false" />
        <activity
            android:name=".RomApp.Moldova"
            android:exported="false" />
        <activity
            android:name=".RomApp.Dobrogea"
            android:exported="false" />
        <activity
            android:name=".dobrogeausage.DobrogeaGameActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".dobrogeausage.GameOverActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".dobrogeausage.CasinoStoryActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".dobrogeausage.DobrogeaMapActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".viewmodel.AppShowcaseActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Prezentare Aplicație" />
        <activity
            android:name=".RomApp.Transilvania"
            android:exported="false" />
        <activity
            android:name=".RomApp.Craiova"
            android:exported="false" />
        <activity
            android:name=".RomApp.UserActivity"
            android:exported="false" />
        <activity
            android:name=".RomApp.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Joc1.RomSplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RomApp.Oltenia"
            android:exported="false" />
        <activity
            android:name=".RomApp.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Joc1.RomMainActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".Joc1.RomMapActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Joc1.RomCityActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Joc1.RomQuizActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Joc1.RomQuestActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Joc1.Culinary.RomCulinaryActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Joc1.Culinary.ModernCulinaryActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Joc1.Culinary.RecipeSearchActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Joc1.Culinary.ModernMealPlannerActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Joc1.Culinary.CulinaryProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Joc1.Culinary.CulinaryWelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Joc1.Culinary.AddRecipeActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Joc1.Culinary.MyRecipesActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Joc1.Culinary.RecipeDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Joc1.Culinary.RomRecipeDetailActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Joc1.Culinary.AvailableIngredientsActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Joc1.Culinary.RecipeSuggestionActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Joc1.RomAchievementsActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Joc1.MinigameOpenWorldActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".RomApp.TarguJiu"
            android:exported="false" />
        <activity
            android:name=".RomApp.Drobetaturnuseverin"
            android:exported="false" />
        <activity
            android:name=".viewmodel.SectionPreviewActivity"
            android:exported="false" />
        <activity
            android:name=".viewmodel.CityListActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBsoY5hE-eR586h6sn1TOj_J21_Y1I2mKY" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".olteniausage.OlteniaGameActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".olteniausage.OlteniaStoryActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".olteniausage.OlteniaMapActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".olteniausage.OlteniaGameOverActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".transilvaniausage.TransilvaniaMapActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".transilvaniausage.TransilvaniaGameActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".transilvaniausage.GameOverActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".transilvaniausage.DraculaStoryActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".moldovausage.MoldovaStoryActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".moldovausage.MoldovaGameActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".moldovausage.MoldovaMapActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".banatusage.BanatGameActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".banatusage.BanatStoryActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".banatusage.BanatMapActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".banatusage.BanatGameOverActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".crisanausage.CrisanaMapActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".crisanausage.CrisanaStoryActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".crisanausage.CrisanaGameActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".crisanausage.CrisanaGameOverActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".bucovinausage.BucovinaStoryActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".bucovinausage.BucovinaGameActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MyApplication.Game" />
        <activity
            android:name=".bucovinausage.BucovinaGameOverActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MyApplication.Game" />
        <activity
            android:name=".bucovinausage.BucovinaMapActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".munteniausage.MunteniaTourActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".munteniausage.MunteniaGameActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".munteniausage.MunteniaMapActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".munteniausage.MunteniaGameOverActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".maramuresusage.MaramuresMapActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".maramuresusage.MaramuresGameActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".maramuresusage.MaramuresGameOverActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".maramuresusage.MaramuresStoryActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".Joc1.Culinary.CookingGuideActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Joc1.Culinary.CulinaryProfileSetupActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.MyApplication" />
        <activity android:name=".Joc1.RecipeReviewActivity" 
            android:parentActivityName=".Joc1.Culinary.RomRecipeDetailActivity" />
        <activity android:name=".Joc1.Culinary.ShareMyRecipeActivity"
            android:parentActivityName=".Joc1.Culinary.RomCulinaryActivity" />
        <activity
            android:name=".Joc1.Culinary.ShoppingListActivity"
            android:label="Lista de cumpărături"
            android:parentActivityName=".Joc1.Culinary.RomCulinaryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Joc1.Culinary.RomCulinaryActivity" />
        </activity>
        <activity
            android:name=".Joc1.Culinary.MealPlanningActivity"
            android:label="Planificator de mese"
            android:parentActivityName=".Joc1.Culinary.RomCulinaryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Joc1.Culinary.RomCulinaryActivity" />
        </activity>
        <activity
            android:name=".Joc1.Culinary.RecipeSelectionActivity"
            android:label="Selectează o rețetă"
            android:parentActivityName=".Joc1.Culinary.MealPlanningActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Joc1.Culinary.MealPlanningActivity" />
        </activity>
        <activity
            android:name=".Joc1.Culinary.RecipeStepByStepActivity"
            android:label="Preparare pas cu pas"
            android:parentActivityName=".Joc1.Culinary.RomRecipeDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Joc1.Culinary.RomRecipeDetailActivity" />
        </activity>
        <activity
            android:name=".Joc1.Culinary.CulinaryCommunityActivity"
            android:exported="true"
            android:label="@string/culinary_community"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:parentActivityName=".Joc1.Culinary.ModernCulinaryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Joc1.Culinary.ModernCulinaryActivity" />
        </activity>
    </application>

</manifest>